
.top-selector {
    margin-top: 20px;
    background-color: #E0E0E0;
    padding: 5px;
}

#hour-selector {
    padding: 10px;
    background-color: #E0E0E0;
    border-style: none;
    -webkit-appearance: none;
    min-width: 10em;
}

.select-down {
    position: relative;
    left: -30px;
}


.select-product {
    display: inline-block;
}

form {
    margin: 0;
}

#depart
{
    width: 350px; /* On a indiqué une largeur (obligatoire) */
    margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
    padding: 12px;
    margin-bottom: -80px;
    
}

#con
{
    display: flex;
    flex-wrap: wrap;

}