


#login, #register {
    width: 33vw;
    margin : 5vh;
    padding: 20px;

    border-radius: 3px;
    box-shadow: 0 1px 4px #ccc;
  /*border: 1px solid #fff */
      display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 1000px) {
    #login, #register {
        width: 66vw;

    }
}

#login:hover, #register:hover {
    box-shadow: 0 10px 30px #ccc;
}


.content {
    padding-top: 20px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-bottom: 0;
}




.form-control
{
    height: 60px;
}



