 .container{
	width: 100%;
	min-height: calc(100vh - 10vh);

	margin: 0;
	margin-top: 10vh;
	margin-bottom: 5vh;
	margin-right: auto;
	margin-left: auto;

	color: white;
}

nav{
	background-color: #78B3DF;

	height: 5vh;
	width: 100%;
	min-height: 50px ;

	margin: 0;
	position: fixed;
	top:0;
	left:0;

	color: white;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

footer{
	background-color: #78B3DF;

	height: 5vh;
	width: 100%;
	min-height: 50px ;

	margin: 0;
	position: fixed;
	bottom:0;
	left:0;

	color: white;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.choice{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	margin : auto;

}

.button{
	width: 10vw;
	height: 10vh;
	
	margin-bottom: 20vh;
	margin-right: auto;
	margin-left: auto;

	background-color: #BCC6CD;
	border: double;
	border-color:  #78B3DF;

	text-align: center;
}

a:link, a:visited, a:active
{
	color: white;
	text-decoration: none;
}

.liste {
	background-color: grey;
	border-color: blue;

	width: 30vw ;
	margin-left :7vh;
}

.modifier{
	background-color: grey;
	border-color: blue;

	width: 10vw ;
	margin-left :7vh;

	text-align: center;
}

.travaux{
	background-color: grey;
	border-color: blue;

	width: 10vw ;
	margin-left :7vh;

	text-align: center; 
}

.supprimer{
	background-color: grey;
	border-color: blue;

	width: 10vw ;
	margin-left :7vh;

	text-align: center;
}

.durée{
	background-color: grey;
	border-color: blue;

	width: 10vw ;
	margin-left :7vh;

	text-align: center;
}

.gain{
	background-color: grey;
	border-color: blue;

	width: 10vw ;
	margin-left :7vh;

	text-align: center;
}

.contenu {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}  
.centrer
{
    text-align:center;
    }